@model IEnumerable<AcuiteCodingChallenge.Core.Entities.Book>

<table cellpadding="5">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Catagory</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.Title</td>
            <td>@b.Author</td>
            <td>@b.Category</td>
        </tr>
    }
</table>
